{% load static %}
<header>
    <ul class="navbar">
        <a href="{% url 'index' %}" class="nav_link"><li class="nav_item">Home</li></a>
        <a href="{% url 'productFemale' %}" class="nav_link"><li class="nav_item">Women</li></a>
        <a href="{% url 'productMen' %}" class="nav_link"><li class="nav_item">Men</li></a>
        <a href="{% url 'index' %}" class="nav_link"><li class="nav_item"><img src="{% static 'app_jsy3b/logo.png' %}" alt="" class="logo"></li></a>
        <a href="{% url 'sale' %}" class="nav_link"><li class="nav_item">Sale</li></a>
        <a href="{% url 'cart' %}" class="nav_link"><li class="nav_item">Cart</li></a>
        {% if user.is_authenticated%}
            {% if user.is_superuser == 1%}
            <div class="dropdown">
                <a href="" class="nav_link">
                    <li class="nav_item" class="dropdown-btn">{{user.username}}</li>
                    <div class="dropdown-content">
                        <a href="{% url 'logout' %}" class="dropdown-link">Logout</a>
                        <a href="{% url 'admin:index' %}" class="dropdown-link">Admin</a>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="dropdown">
                <a href="" class="nav_link">
                    <li class="nav_item" class="dropdown-btn">{{user.username}}</li>
                    <div class="dropdown-content">
                        <a href="{% url 'logout' %}" class="dropdown-link">Logout</a>
                    </div>
                </a>
            </div>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}" class="nav_link"><li class="nav_item">Login</li></a>
        {% endif %}
    </ul>
</header>